# **AI Diploma**

### **Python Programming**

### Assignment 2

<img src="https://th.bing.com/th/id/R.84611a9f16c2c2ebda65da14c5280e03?rik=YXFlHrjbBApRZQ&pid=ImgRaw&r=0" alt="alternatetext" style="width:1000px;">

### 1) Write a program to print the maximum between two numbers. (one-line conditional statement)

In [1]:
first_num = float (input ("Enter first number"))
second_num = float (input ("Enter second number"))

print (f"The maximum = {first_num}") if first_num > second_num else print (f"The maximum = {second_num}")

Enter first number 5
Enter second number 9

The maximum = 9.0

### 2) Write a program to find the maximum between three numbers.

In [5]:
first_num = float (input ("Enter first number"))
second_num = float (input ("Enter second number"))
Third_num = float (input ("Enter third number"))

y = max (first_num,second_num,Third_num)

print (f"The maximum = {y}")

Enter first number 2.2
Enter second number 3.3
Enter third number 6.66

The maximum = 6.66

In [12]:
first_num = float (input ("Enter first number"))
second_num = float (input ("Enter second number"))
third_num = float (input ("Enter third number"))

print (f"The maximum = {first_num}") if first_num > second_num and first_num > third_num else print (f"The maximum = {second_num}") if first_num < second_num and second_num > third_num else print (f"The maximum = {third_num}")

Enter first number 588
Enter second number 6
Enter third number 36

The maximum = 588.0

### 3) Write a program to check whether a number is negative, or positive (one-line conditional statement)

In [18]:
num = float (input ("Enter a number"))

(print ("The number is positive") if num > 0 else print ("The number is negative")) if num != 0 else print ("The number is Zero")

Enter a number 5

The number is positive

### 4) Write a  program to check whether a number is even or odd  (one-line statement).

In [22]:
num = float (input ("Enter a number"))

(print ("The number is even") if num%2 == 0 else print ("The number is odd")) if num != 0 else print ("The number is Zero")

Enter a number 0

The number is Zero

In [28]:
num = float (input ("Enter a number"))

if num != 0 :    
    if num%2 == 0 :
        print ("The number is even") 
     
    else :
        print ("The number is odd")  
        
else :
    print ("The number is zero")

Enter a number 77

The number is odd

### 5) Write a  program to check whether a year is a leap year or not. (one-line conditional statement).

In [40]:
year = float (input ("Enter the year"))

print ("Please enter a valid year") if year == 0 or year<0  else print ("The year is a leap year") if year%4 == 0 else print ("The year isn't a leap year")

Enter the year 2024

The year is a leap year

### 6) Write a  program to store the weekdays in a list and access the week day and print it by index.

In [48]:
weekdays = ["Saturday" , "Sunday" , "Monday" , "Tuesday" , "Wednesday" , "Thursday" , "Friday"]
for x in range (7) :
    print (f"The {x+1}th day of the week is {weekdays[x]}")

The 1th day of the week is Saturday
The 2th day of the week is Sunday
The 3th day of the week is Monday
The 4th day of the week is Tuesday
The 5th day of the week is Wednesday
The 6th day of the week is Thursday
The 7th day of the week is Friday

In [51]:
weekdays = ["Saturday" , "Sunday" , "Monday" , "Tuesday" , "Wednesday" , "Thursday" , "Friday"]
for x in weekdays :
    print (x)

Saturday
Sunday
Monday
Tuesday
Wednesday
Thursday
Friday

### 7) Write a  program to print all alphabets from a to z using while loop

In [54]:
alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
x = 0
while (x<26) :
    print (alphabets [x])
    x += 1

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

### 8)Write a program to store numbers in the List and print its reverse

In [60]:
num_1 = int (input ("Enter first number"))
num_2 = int (input ("Enter second number"))
num_3 = int (input ("Enter third number"))

x= [num_1 , num_2 , num_3]

print (f"The original list of numbers is {x}")

x.reverse ()

print (f"The reversed list of numbers is {x}")

Enter first number 15
Enter second number 6
Enter third number 33

The original list of numbers is [15, 6, 33]
The reversed list of numbers is [33, 6, 15]

### 9) Write a program to print the multiplcation table of any number

In [64]:
num = int (input ("Enter a number"))

for x in range (11) :
    print (f"{num}*{x} = {num*x}")

Enter a number 5

5*0 = 0
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

### 10)Write a program to print all even numbers between 1 to 100.(using while loop)

In [2]:
x = 0 
while x<=100 :
    if x%2 == 0 and x != 0:
        print (x) 
    x+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### Assignment 2'

### 1) Write a Python program to add an item to a tuple.

In [4]:
tuple_1 = ("Ahmed" , 1 , 15.6 , True)
x = list (tuple_1)
x. append("Amit")
y = tuple(x)
print (y)

('Ahmed', 1, 15.6, True, 'Amit')

### 2) Write a Python program to sum all the items in a list.

In [10]:
list_1 = [15,6,99,887,11]
sum = list_1[0] + list_1[1]+list_1[2]+list_1[3]+list_1[4] 
print (f"Sum = {sum}")

Sum = 1018

### 3) Write a Python program to multiply all the items in a list.

In [12]:
list_1 = [15,6,99,887,11]
product = list_1[0] * list_1[1]*list_1[2]*list_1[3]*list_1[4] 
print (f"Product = {product}")

Product = 86934870

### 4) Write a Python program to get the smallest number from a list.

In [16]:
list_1 = [15,6,99,887,11]
least = min (list_1[0] , list_1[1],list_1[2],list_1[3],list_1[4])
print (f"Minimum = {least}")

Minimum = 6

### 5) Write a Python program to get the largest number from a list.

In [17]:
list_1 = [15,6,99,887,11]
max_1 = max (list_1[0] , list_1[1],list_1[2],list_1[3],list_1[4])
print (f"Maximum = {max_1}")

Maximum = 887

### 6. Write a Python program to count the number of strings from a given list of strings.

In [22]:
list_1 = ["Ahmed" , "AI" , "Amit" , "Barca" , "Ahmed" , "AI" , "AI"]
x = list_1.count ("AI")
y = list_1.count ("Ahmed")
z = list_1.count ("Amit")
print (f"The count of AI = {x}")
print (f"The count of Ahmed = {y}")
print (f"The count of Amit = {z}")

The count of AI = 3
The count of Ahmed = 2
The count of Amit = 1

### <span style='color: red;'>7) Write a Python program to clone or copy a list</span>

In [61]:
list_1 = ["Ahmed" , "AI" , "Amit" , "Barca" , "Ahmed" , "AI" , "AI"]
list2 = list_1 
print (list2)

['Ahmed', 'AI', 'Amit', 'Barca', 'Ahmed', 'AI', 'AI']

### 8) Write a Python program to remove item(s) from a given set.

In [2]:
set1 = {"Ahmed" , 12 , True, 56.5}
print (set1)
list1 = list (set1)
list1.remove ("Ahmed")
set2 = set (list1)
print (set2)

{56.5, True, 12, 'Ahmed'}
{56.5, True, 12}

### 9) Write a Python program to check if a set is a subset of another set.

In [7]:
set1 = {"Ahmed" , 12 , True, 56.5}
print (set1) 
set2 = {True, 56.5}
if set2 <= set1:   #set2.issubset (set1) 
    print ("The set is a subset of set 1")
else : 
    print ("The set isn't a subset of set 1")

{56.5, True, 12, 'Ahmed'}
The set is a subset of set 1

### 10) Write a Python program to remove all elements from a given set.

In [10]:
set1 = {"Ahmed" , 12 , True, 56.5}
print (set1)
list1 = list (set1)
list1.clear ()
set2 = set (list1)
print (set2)

{56.5, True, 12, 'Ahmed'}
set()

### 11) Write a Python program to find the maximum and minimum values in a set.

In [18]:
set1 = {12, 125, 56.5,50,99,1256}
print (f"The set is {set1}")
print (f"Maximum value of the set is {max(set1)}")
print (f"Minimum value of the set is {min(set1)}")

The set is {50, 99, 1256, 56.5, 12, 125}
Maximum value of the set is 1256
Minimum value of the set is 12

### 12) Write a Python program to find the index of an item in a tuple.

In [24]:
tuple1 = ("Ahmed" , 12, 58.6 , False)
print (tuple1)
x = tuple1.index("Ahmed")
print (f"The index of element 'Ahmed' is {x}")

('Ahmed', 12, 58.6, False)
The index of element 'Ahmed' is 0

### 13) Write a Python program to convert a tuple to a dictionary.

In [28]:
tuple1 = (("key1" , 5), ("key2", 10) ,("key3" ,15))
dict1 = dict (tuple1)
print (dict1)

{'key1': 5, 'key2': 10, 'key3': 15}

### 14) Write a Python program to unzip a list of tuples into individual lists.

In [36]:
list1 = [("key1" , 5), ("key2", 10) ,("key3" ,15,55)]
print (f"The list of tuples is {list1}")
print (f"List 1 is {list(list1 [0])}")
print (f"List 2 is {list(list1 [1])}")
print (f"List 3 is {list(list1 [2])}")

The list of tuples is [('key1', 5), ('key2', 10), ('key3', 15, 55)]
List 1 is ['key1', 5]
List 2 is ['key2', 10]
List 3 is ['key3', 15, 55]

### 15) Write a Python program to reverse a tuple.

In [39]:
tuple1 = ("Ahmed" , 12, 58.6 , False)
print (f"Original tuple is {tuple1}")
x = list (tuple1)
x.reverse()
y = tuple (x)
print (f"Reversed Tupple is {y}")

Original tuple is ('Ahmed', 12, 58.6, False)
Reversed Tupple is (False, 58.6, 12, 'Ahmed')

### 16) Write a Python program to convert a list of tuples into a dictionary.

In [40]:
list1 = [("key1" , 5), ("key2", 10) ,("key3" ,15)]
dict1 = dict (list1)
print (dict1)

{'key1': 5, 'key2': 10, 'key3': 15}

### 17) Write a Python program to replace the last value of tuples in a list.

In [50]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print (f"Original list is {list1}")
list2 = [1,6,5]
for x in range (3) :
    y= list (list1 [x])
    y[2] = 100 
    z = tuple (y)
    list2 [x] = z
print (f"Edited list is {list2}")

Original list is [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Edited list is [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### <span style='color: red;'>18) Write a Python program to sort a tuple by its float element</span>

In [57]:
tuple1 = [("Ahmed", 18.265), ("Ashraf", 14.107) ,("Hussein", 24.541), ('Saad', 4.256), ('Ali', 10.365)]
#A Question

In [60]:
tuple1 = (10.5, 50.6, 40.333)
x= list (tuple1)
x.sort ()
y = tuple (x)
print (y)

(10.5, 40.333, 50.6)