# **AI Diploma**

### **Python Programming**

### Assignment 3

<img src="https://th.bing.com/th/id/R.84611a9f16c2c2ebda65da14c5280e03?rik=YXFlHrjbBApRZQ&pid=ImgRaw&r=0" alt="alternatetext" style="width:1000px;">

### 1) Program to count number of vowels using sets in given string

In [2]:

def vowel_count (str) :
    vowels = {'a','e','u','i','o','A','E','U','I','O'}
    count = 0
    
    for i in stat :
        if i in vowels :
            count +=1
    return count


print ("Vowels Count Program")
stat = input ("Please enter a statement")

print (f"Vowel Count = {vowel_count (stat)}")

Vowels Count Program

Please enter a statement Ahmed is an AI developer

Vowel Count = 10

### 2) Write a Python program to add an item to a tuple

In [10]:
tuple1 = ("Ahmed", 55 , True , "Amit")
print (f"The original tuple is {tuple1}")
list1 = list (tuple1)
list1.append ("Hussein")
tuple2 = tuple (list1)
print (f"The modified tuple is {tuple2}")

The original tuple is ('Ahmed', 55, True, 'Amit')
The modified tuple is ('Ahmed', 55, True, 'Amit', 'Hussein')

### 3) Write a Python program to multiply all the items in a list

In [21]:
len = int (input ("Please enter the number of numbers to be multiplied"))

product = 1

#How to write an empty list of specific size

list1 = [None] * len


for i in range (len) :
    num = float (input ("Enter the number"))
    list1 [i] = num

print (f"The list of numbers is {list1}")

#product series

for i in list1:
    product *= i

print (f"The product = {product}")

Please enter the number of numbers to be multiplied 3
Enter the number 4
Enter the number 3
Enter the number 3

The list of numbers is [4.0, 3.0, 3.0]
The product = 36.0

### 4) Write a Python program to get the smallest number from a list

In [25]:
len = int (input("Please enter the length of the list"))

list1 = [0] * len

for i in range (len):
    list1[i] = float (input ("Enter a number"))

print (f'''The list is {list1}
The min value = {min (list1)} ''')

Please enter the length of the list 4
Enter a number 2
Enter a number 3
Enter a number 77
Enter a number 4

The list is [2.0, 3.0, 77.0, 4.0]
The min value = 2.0

### 5) Write a Python program to get the largest number from a list

In [26]:
len = int (input("Please enter the length of the list"))

list1 = [0] * len

for i in range (len):
    list1[i] = float (input ("Enter a number"))

print (f'''The list is {list1}
The largest value = {max (list1)} ''')

Please enter the length of the list 4
Enter a number 3
Enter a number 44
Enter a number 5
Enter a number 44

The list is [3.0, 44.0, 5.0, 44.0]
The largest value = 44.0

### 6) Write a Python program to clone or copy a list

In [10]:
import copy

list1 = [4,3 , True , 44.5]

#Clone 
list_clone = list1 [:]

#Copy
list_copy = list1

list1[1] = 55

print (f"Original list is {list1}")
print (f"Deep copied list is {list_clone}")
print (f"Shallow copied list is {list_copy}")

Original list is [4, 55, True, 44.5]
Deep copied list is [4, 3, True, 44.5]
Shallow copied list is [4, 55, True, 44.5]

### 7) Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [28]:
s = set ([0,1,3,4,5])
print (f"The set is {s}")
x = int (input("Enter the element to be removed"))
s.discard (x)
print (f"The Modified set is {s}")

The set is {0, 1, 3, 4, 5}

Enter the element to be removed 4

The Modified set is {0, 1, 3, 5}

### 8) Write a Python program to find the maximum and minimum values in a set

In [26]:
s = set ([0,1,3,4,5])
print (f"The set is {s}")
print (f"The max of the set is {max(s)}")
print (f"The min of the set is {min(s)}")

The set is {0, 1, 3, 4, 5}
The max of the set is 5
The min of the set is 0

### 9) Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

In [36]:
tuple1 = ("name", "age", "city","city")
list_enu = list(enumerate (tuple1))
print (dict (list_enu))

{0: 'name', 1: 'age', 2: 'city', 3: 'city'}

### 10) Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [76]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list2 = [0]*3

y=len(list1)

for i in range (y):
    x = list(list1[i])
    x[2] = 100
    k = tuple(x)
    list2 [i] = k

print (list2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### 11) Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [47]:
list1 = [2,4,5,7,9,7]
set1 = set (list1)

if len (list1) == len (set1) :
    print ("The list is unique")

else : 
    print ("The list isnot unique")

The list isnot unique

##  >>> PDF Assignment

### 1) Implement Fibonacci series using recursion.

In [25]:
def fib(n, prev1, prev2):
    if n < 3:
        return
    fn = prev1 + prev2
    prev1 = prev2
    prev2 = fn
    print(fn, end=" ")
    fib(n - 1, prev1, prev2)

def fib_print (n) :
    if n < 0 :
        print ("The number entered isn't valid")
    if n == 0 :
        print ("0")
    else :
     print ("0 1", end=" ")
    fib (n,0,1)
        
n = int (input("Enter the number of terms of Fibonacci Series"))
fib_print (n)

Enter the number of terms of Fibonacci Series 9

0 1 1 2 3 5 8 13 21

### 2) Write a Python program to find all the unique words and count the frequency of occurrence from a given list of strings.

In [54]:
def word_count (list_str,str) :
    if list_str.count (str) == 1 :
        print (f"{str} is unique")
    elif list_str.count (str) == 0:
        print (f"{str} isnot in the list")
    else :
         print (f"{str} is repeated {list_str.count (str)} times")

list_str1 = ["Ahmed" , "Ashraf" , "AI", "Ahmed", "AI" , "Hussein" , "Amit","AI" , "Amit"]
print (f"The list is {list_str}")
str1 = input ("Enter the string to check uniqness")
word_count (list_str1, str1)

The list is ['Ahmed', 'Ashraf', 'AI', 'Ahmed', 'AI', 'Hussein', 'Amit', 'AI', 'Amit']

Enter the string to check uniqness Ahmed

Ahmed is repeated 2 times

### 3) Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [74]:
def target_sum (lst , target) :
    y=[]
    for i in lst :
        n = target - i
        if n in lst :
            y.append ((i,n))                     
    
    print (y)
            
list1 = [1,3,4,5,6,2,10,7,9,12,11,0]
print (f"The list is {list1}")
list1.sort()
target = int (input("Enter the sum number"))

if target > list1[-1] + list1[-2] :
    print ("The target number is over")
else :
    target_sum (list1 , target)

The list is [1, 3, 4, 5, 6, 2, 10, 7, 9, 12, 11, 0]

Enter the sum number 7

[(0, 7), (1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1), (7, 0)]

### 4) Write a Python program to find the two numbers whose product is maximum among all the pairs in a given list of numbers

In [4]:
def max_product (lst):
    maxproduct = 0
    for n1 in lst :
        for n2 in lst :
            if  n1!=n2 and n1*n2>maxproduct:
                maxproduct = n1*n2
                max_n1 = n1
                max_n2 = n2

    return (max_n1, max_n2)

list1 = [1,3,4,50,6,2,7,9,12,12,22]
print (max_product (list1))

(50, 22)

### /////5) Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

In [ ]:
# Define a function named 'test_prime' that checks if a number 'n' is a prime number
def test_prime(n):
    # Check if 'n' is equal to 1
    if (n == 1):
        # If 'n' is 1, return False (1 is not a prime number)
        return False
    # Check if 'n' is equal to 2
    elif (n == 2):
        # If 'n' is 2, return True (2 is a prime number)
        return True
    else:
        # Iterate through numbers from 2 to (n-1) using 'x' as the iterator
        for x in range(2, n):
            # Check if 'n' is divisible by 'x' without any remainder
            if (n % x == 0):
                # If 'n' is divisible by 'x', return False (not a prime number)
                return False
        # If 'n' is not divisible by any number from 2 to (n-1), return True (prime number)
        return True

# Print the result of checking if 9 is a prime number by calling the 'test_prime' function
print(test_prime(9))

### 6) Write a Python function to print the even numbers from a given list.

In [81]:
y=[]
def even (lst) :
    for i in lst :
        if i%2 == 0 and i!=0 :
            y.append (i)

    print (f"The even numbers are {y}")

list1 = [1,3,4,5,6,2,10,7,9,12,11,22,323,334]
even (list1)

The even numbers are [4, 6, 2, 10, 12, 22, 334]

### 7) Write a function that will take a given string and reverse the order of words.
Ex:
“Hello world” →”world Hello”

In [92]:
def reverse (str):
    y = str.split(" ")
    str_r = ' '.join (y [::-1])
    return str_r

str = input ("Enter the statement")
reverse (str)

Enter the statement Ahmed Ashraf

'Ashraf Ahmed'

### 8) Given an integer x, return true if x is a palindrome, and false otherwise. 
Example 1: Input: x = 121 

Output: true 

Explanation: 121 reads as 121 from left to right and from right to left. 

Example 2: Input: x = -121 

Output: false 

xplanation: From left to right, it reads -121. From right to left, it becomes 121-. Therefore, it is not a palindrome. 

Example 3: Input: x = 10 

Output: false 

Explanation: Reads 01 from right to left. Therefore, it is not a palindrome.

In [17]:
def palin (num) :
    str1 = str(num)
    str_reversed = str1 [::-1]
    if str1 == str_reversed :
        print ("The number is palindrome")
        return True
    else :
        print ("The number isn't palindrome")
        return False

print ("Program to check number is palindrome or not =")
n = int (input("Enter a number"))
palin (n)

Program to check number is palindrome or not =

Enter a number 5005

The number is palindrome

True

### 9) Write a Python function that checks whether a passed string is a palindrome or not.

In [20]:
def palin (str1) :
    str_reversed = str1 [::-1]
    if str1 == str_reversed :
        print ("The string is palindrome")
        
    else :
        print ("The string isn't palindrome")
        

print ("Program to check string is palindrome or not =")
n = (input("Enter a string"))
palin (n)

Program to check string is palindrome or not =

Enter a string zooz zooz

The string is palindrome

### 10) Write a Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).

In [33]:
def square (lst) :
    y=[]
    for i in lst :
        y.append (i**2) 
    print (y)

print (list(range(1,31)))
square (list(range(1,31)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

### /////11) Write a Python function to generate all permutations of a list.

In [ ]:
# Python function to print permutations of a given list
def permutation(lst):
 
    # If lst is empty then there are no permutations
    if len(lst) == 0:
        return []
 
    # If there is only one element in lst then, only
    # one permutation is possible
    if len(lst) == 1:
        return [lst]
 
    # Find the permutations for lst if there are
    # more than 1 characters
 
    l = [] # empty list that will store current permutation
 
    # Iterate the input(lst) and calculate the permutation
    for i in range(len(lst)):
       m = lst[i]
 
       # Extract lst[i] or m from the list.  remLst is
       # remaining list
       remLst = lst[:i] + lst[i+1:]
 
       # Generating all permutations where m is first
       # element
       for p in permutation(remLst):
           l.append([m] + p)
    return l
 
 
# Driver program to test above function
data = list('123')
for p in permutation(data):
    print (p)

### 12) Write a Python program to access a function inside a function.

In [3]:
def function_1 (n):
    return lambda a :a*n

function1 = function_1 (4)
function1 (11)

44

### 13) Write a Python program to sort a tuple by its float element

In [2]:
def sort_tuples (lst) :
   return sorted (lst ,key= lambda x:x[1], reverse =True)
    

list1 = [("Ahmed", 18.265), ("Ashraf", 14.107) ,("Hussein", 24.541), ('Saad', 4.256), ('Ali', 10.365)]

print (sort_tuples (list1))

[('Hussein', 24.541), ('Ahmed', 18.265), ('Ashraf', 14.107), ('Ali', 10.365), ('Saad', 4.256)]